<input
  [formControl]="control"
  class="focus:ring-transparent bg-secondary-200 appearance-none border-2 border-secondary-200 rounded w-full py-2 px-4 text-secondary-700 leading-tight focus:outline-none focus:bg-white focus:border-primary-500"
/>

<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.required" class="text-red-400">
    Field is requiered
  </p>
  <p *ngIf="control.errors?.minlength" class="text-red-400">
    The value you inputted is
    {{ control.errors?.minlegth.actualLength }}
    characters long. It must be at least
    {{ control.errors?.minlegth.requiredLength }}
    characters long.
  </p>
</ng-container>
