<form class="pt-5">
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      E-mail
    </label>
    <app-input
      [control]="email"
      placeholder="Enter email"
      type="email"
    ></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="">
      Password
    </label>
    <app-input
      [control]="password"
      type="password"
      placeholder="********"
    ></app-input>
  </div>
  <div class="mt-8">
    <app-button variant="primary" label="Sign In"></app-button>
  </div>
</form>
