<form [formGroup]="signUnForm" class="w-full pt-5">
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      Full Name
    </label>
    <app-input [control]="name" placeholder="Enter Name"></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      E-mail
    </label>
    <app-input
      [control]="email"
      placeholder="Enter email"
      type="email"
    ></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      Age
    </label>
    <app-input
      [control]="age"
      placeholder="Enter Age"
      type="number"
    ></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      Phone Number
    </label>
    <app-input
      [control]="phone_number"
      placeholder="Enter Phone number"
      format="(000) 000-0000"
      placeholder="(000) 000-0000"
    ></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      Password
    </label>
    <app-input
      [control]="password"
      placeholder="Enter Password"
      type="password"
    ></app-input>
  </div>
  <div class="mb-5">
    <label class="block text-secondary-500 font-bold mb-1" for="name">
      Confirm Password
    </label>
    <app-input
      [control]="confirm_password"
      placeholder="Confirm Password"
      type="password"
    ></app-input>
  </div>
  <div class="mt-8">
    <app-button
      [disabled]="signUnForm.invalid"
      variant="primary"
      label="Sign Up"
    ></app-button>
  </div>
</form>
